[Unit]
Description=Snapper Application Service
After=network.target

[Service]
Type=simple
WorkingDirectory=/root/snapper
ExecStart=/root/snapper/venv/bin/python /root/snapper/main.py

[Install]
WantedBy=multi-user.target
